.container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.form-inputs {
  width: 80% !important;
  margin: 50px auto;
}
.form-actions {
  margin-bottom: 10px;
}
.log-in-btn {
  background-color: orange;
  padding: 10px;
  color: white;
  border-radius: 15px;
}
.log-in-btn:hover {
  box-shadow: 2px 2px 4px rgb(174, 125, 34);
  background-color: orange;
  color: wheat;
}
.other-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.sign-up,
.forgot-password {
  margin: 10px;
}
.sign-up {
  width: 50% !important;
  background-color: rgb(184, 184, 78);
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}
.sign-up:hover {
  background-color: rgb(184, 184, 78);
  box-shadow: 1px 1px 6px rgb(104, 104, 51);
  color: wheat;
}
.forgot-password {
  background-color: rgb(107, 142, 35);
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  width: 50% !important;
}
.forgot-password:hover {
  color: wheat;
  box-shadow: 1px 1px 6px rgb(110, 133, 65);
}
#log-in {
  background-color: rgb(97, 129, 33);
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  width: 50% !important;
}
#log-in:hover {
  background-color: rgb(97, 129, 33);
  color: white;
  box-shadow: 1px 1px 6px rgb(94, 118, 46);
}
.forgot-btn {
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}
.forgot-btn:hover {
  box-shadow: 1px 1px 6px rgb(152, 117, 50);
  background-color: orange;
  color: wheat;
}
.shared-btn {
  margin: 18px;
}

@media screen and (min-width: 800px) {
  .form-inputs {
    width: 50% !important;
  }
  .sign-up, .forgot-password {
    width: 30% !important;
  }
}
