.container {
  width: 100%;
  height: 73vh;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-container {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 9px rgb(166, 166, 166);
  width: 400px;
  margin-bottom: 50px;
  margin-right: 50px
}
.form-check {
  text-align: start;
}
.logo-container {
  width: 50%;
  margin: 20px;
}
#logo-promo {
  width: 300px;
  object-fit: contain;
}
.form-actions {
  margin-bottom: 10px;
  background-color: #90328f;
  border-radius: 5px;
}
.form-actions:hover {
  background-color: #812d7f;
  border: none;
}
.form-actions > input {
  color: white !important;
  width: 90%;
}
.form-control {
  width: 300px !important;
  border-radius: 5px;
  padding: 14px;
  margin: 0 auto;
}
.line {
  border-radius: 4px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 15px;
}
.shared-sign-up {
  width: 200px;
  border-radius: 5px;
  background-color: yellowgreen !important;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 8px;
}
.sign-up {
  color: white;
  text-decoration: none;
}
.forgot-password {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 990px) {
  .logo-container {
    margin: 0 auto;
  }
  #logo-promo {
    width: 150px;
    object-fit: contain;
  }
  .form-container {
    margin: 20px auto;
  }
  .form-control {
    padding: 9px;
  }
  .container {
    height: 100vh;
    margin-bottom: 80px;
  }

}
@media screen and (min-width: 991px) {
  #logo-promo {
    width: 300px;
  }
  .logo-container {
    margin: 0 auto;
  }
  .form-container {
    margin: 40px auto;
  }
}
